<span>
    <span><div class="panel-progress" ng-show="folderStatus(folder) == 'syncing'"
               ng-attr-style="width: {{syncPercentage(folder.id)}}%"></div>
                <div class="panel-progress"
                     ng-show="folderStatus(folder) == 'scanning' && scanProgress[folder.id] != undefined"
                     ng-attr-style="width: {{scanPercentage(folder.id)}}%"></div>
                <span class="panel-title">
                    <span class="fa fa-folder hidden-xs"></span>
                <span ng-class="'text-' + folderClass(folder)" ng-switch="folderStatus(folder)">
                  <span ng-switch-when="unknown"><span class="hidden-xs" translate>Unknown</span></span>
                  <span ng-switch-when="unshared"><span class="hidden-xs" translate>Unshared</span></span>
                  <span ng-switch-when="stopped"><span class="hidden-xs" translate>Stopped</span></span>
                  <span ng-switch-when="scanning">
                    <span class="hidden-xs" translate>Scanning</span>
                    <span class="hidden-xs" ng-if="scanPercentage(folder.id) != undefined">
                      ({{scanPercentage(folder.id)}}%)
                    </span>
                  </span>
                  <span ng-switch-when="idle"><span class="hidden-xs" translate>Up to Date</span></span>
                  <span ng-switch-when="notsynced"><span class="hidden-xs" translate>Not Shared</span></span>
                  <span ng-switch-when="syncing">
                    <span class="hidden-xs" translate>Syncing</span>
                    ({{syncPercentage(folder.id)}}%)
                  </span>
                  <span ng-switch-when="outofsync"><span class="hidden-xs" translate>Out of Sync</span></span>
                  <span ng-transclude ng-class="'folder-status-' + folderClass(folder)"></span>
                </span>
                </span>
    </span>

    <div class="progress" ng-show="folderStatus(folder) == 'syncing'">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="{{syncPercentage(folder.id)}}" aria-valuemin="0" aria-valuemax="100"
             ng-attr-style="width: {{syncPercentage(folder.id)}}%">
        </div>
    </div>
    <div class="progress" ng-show="folderStatus(folder) == 'scanning' && scanProgress[folder.id] != undefined">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="{{scanPercentage(folder.id)}}" aria-valuemin="0" aria-valuemax="100"
             ng-attr-style="width: {{scanPercentage(folder.id)}}%">
        </div>
    </div>
</span>