<div ng-cloak class="splash">
    <div class="section1">
        <div class="center">
            <div style="margin: auto; max-width: 391px; padding-top: 30px;">
                <img src="assets/img/pcloud-knowledge-cloud.png" style="max-width: 265px; width: 100%;">
            </div>
            <div>
                <h2 style="color:white; margin: auto">PortableCloud - Bringing the Web down to Earth</h2>
                <h4 style="color:white; margin: auto">PortableCloud™ is a unique compact, communication and
                    information technology solution that provides web applications and content in a
                    self-contained network.</h4><a href="#register" md-button class="splash-button">Get Started
                <span md-icon><i class="material-icons" style="font-size: 14px">&#xE315;</i></span></a><a
                    href="http://www.portablecloud.net" md-button class="splash-button">Learn More <span
                    md-icon><i class="material-icons" style="font-size: 14px">&#xE315;</i></span></a>
            </div>
        </div>
    </div>
    <div class="section2">
        <div class="et_pb_section et_section_regular">
            <div class="et_pb_row">
                <div class="et_pb_column et_pb_column_4_4">
                    <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_center">
                    </div>
                </div>
            </div>
            <div class="et_pb_row">
                <div class="et_pb_column et_pb_column_1_3">
                    <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_left et_pb_blurb_position_left">
                        <div class="et_pb_blurb_content">
                            <div class="et_pb_main_blurb_image"><span md-icon><i class="material-icons">
                                &#xE640;</i></span></div>
                            <h4>Instant Networking Solution</h4>
                            Connect to our servers directly over their built-in WiFi network, or hook them up to
                            Ethernet to create a wired network. Create an out-of-the box intranet solution.
                        </div>
                    </div>
                </div>
                <div class="et_pb_column et_pb_column_1_3">
                    <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_left et_pb_blurb_position_left">
                        <div class="et_pb_blurb_content">
                            <div class="et_pb_main_blurb_image"><span md-icon><i class="material-icons">
                                &#xE80C;</i></span></div>
                            <h4>Serve a Classroom</h4>
                            Our servers can support up to 40 mobile devices connected over WiFi, within a 30m
                            range.
                        </div>
                    </div>
                </div>
                <div class="et_pb_column et_pb_column_1_3">
                    <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_left et_pb_blurb_position_left">
                        <div class="et_pb_blurb_content">
                            <div class="et_pb_main_blurb_image"><span md-icon><i class="material-icons">
                                &#xE871;</i></span></div>
                            <h4>Open-Source Applications</h4>
                            We can configure our servers to host Wikipedia, Khan Academy, CK12 course-books,
                            Moodle, Canvas, WordPress, Joomla, Drupal, and other solutions. Run your own local
                            versions without the need for Internet access.
                        </div>
                    </div>
                </div>
            </div>
            <div class="et_pb_row">
                <div class="et_pb_column et_pb_column_1_3">
                    <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_left et_pb_blurb_position_left">
                        <div class="et_pb_blurb_content">
                            <div class="et_pb_main_blurb_image"><span md-icon><i class="material-icons">
                                &#xE863;</i></span></div>
                            <h4>Syncing</h4>
                            Sync content between your PortableCloud Server and your online account. We can
                            configure our servers to periodically sync with online sources when our boxes are
                            connected to the Internet.
                        </div>
                    </div>
                </div>
                <div class="et_pb_column et_pb_column_1_3">
                    <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_left et_pb_blurb_position_left">
                        <div class="et_pb_blurb_content">
                            <div class="et_pb_main_blurb_image"><span md-icon><i class="material-icons">
                                &#xE616;</i></span></div>
                            <h4>Custom Content</h4>
                            Create, share, and distribute your own content. Pre-load web content, or upload
                            content to the server directly from a connected device.
                        </div>
                    </div>
                </div>
                <div class="et_pb_column et_pb_column_1_3">
                    <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_left et_pb_blurb_position_left">
                        <div class="et_pb_blurb_content">
                            <div class="et_pb_main_blurb_image"><span md-icon><i class="material-icons">
                                &#xE1A3;</i></span></div>
                            <h4>Low Power-Consumption</h4>
                            Our servers run off of 12V DC power, and can be configured to run from batteries,
                            solar installations, or combinations of both.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
